.header {
  display: flex;
  background-color: #7DB8DC;
  font-size: larger;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  align-items: center;
}

.navbar {
  width: 100%;
  align-items: flex-end;
}

.navbar ul {
  padding-left: 40%; /*ini jarak navbar*/
  padding-top: 0.2%;
  align-items: center;

}

.navbar ul li {
  display: inline;
  margin-right: 20px;
  color: #565b65;
}

.bgbg{
  background-color: #efefef;
}




/* .search{
    border: #4d4d4d;
    border-radius: '10px';
    padding-right: '100px';
    margin-right: ' 8px';
    flex-grow: 1;
}

.btn{
    color: white;
    padding: 8px 16px;
    border-color: greenyellow;
    border-radius: '4px';
    cursor: pointer;
    color: 'white', 
}
*/

/* .App {
  margin-left: 1%;
  margin-top: 200px;
  float: right;
  /* margin-right: 10px; */
  /* text-align: center; 
}


.text-on-image {
  position: absolute;
  right: 50%;
  left: 8%;
  top: 20%;
}
*/
/* .title {
  padding-top: 12px;
  text-align: center;
  font-size: large;
  font-weight: 700;
}

.head-text {
  position: relative;
  padding-left: 10px;
}

.kotak {
  margin-left: 20px;
  height: 100px;
  width: 500px;
  border-radius: 12px;
  background-color: #f5ff68;
}

.form-daftar {
  color: rgb(0, 0, 0);
  text-transform: capitalize;
  font-size: 21px;
  font-weight: 690;
  text-align: center;
  padding-top: 35px;
  /* padding: 10px 20px 10px 200px;
  margin-bottom: 20px; */
/* } */

/* .form-body {
  text-align: left;
  padding: 20px 10px;
}



.jarak {
  margin-left: 20px;
} */

/* .c-btn{
  height: 120px;
  width: 500px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  padding-top: 55px;
  
} */

/* .btn {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 6px;
  width: 500px;
  height: 100px;
}

.form-input {
  width: 10%;
  margin-bottom: 12px;
}

.buton {
  /* background-color: #61dafb;
  text-align: center; */
  /* padding: 4px 12px;
  min-width: 5px;
  color: #212121;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 500;
}

.bcolor {
  background-color: #dacce7;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } 
} */


/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/*.App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */